// Bootstrap
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";

// Leaflet
@import "../../bower_components/Leaflet.markercluster/dist/MarkerCluster.css";
@import "../../bower_components/Leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "../../bower_components/Leaflet.markercluster/dist/MarkerCluster.Default.ie.css";

@import "../bower_components/L.GeoSearch/src/css/l.geosearch.css";
@import "../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css";

body {
    font-family: "Source Sans Pro", sans-serif;
}

#map {
    height: 500px;
    margin: 50px auto 0 auto;
}