// Bootstrap
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";

// Leaflet
@import "_leaflet-clusters";

@import "../bower_components/L.GeoSearch/src/css/l.geosearch.css";

body {
    font-family: "Source Sans Pro", sans-serif;
}

#map {
    height: 500px;
    margin: 0;
}