// Bootstrap
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";

// Leaflet
@import "_leaflet-clusters";

// Geosearch CSS (kind of ugly honestly)
// @import "_geosearch";

body {
    font-family: "Source Sans Pro", sans-serif;
}

#map {
    height: 500px;
    margin: 0;
}